{% load static %}
<html>

    <head>
        <title>PCS 3643 - Sistema de Leilões</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>

    <body>
        <div class="container">
            <header>
                <div class="nav-left">
                    <h1><a href="/">PCS 3643 - Sistema de Leilões</a></h1>
                </div>
            </header>

            {% block content %}
            {% endblock content %}

        </div>
    </body>

    <footer>
        <p style="text-align:left; position: absolute; bottom: 0; width: 100%; height: 2.5rem;">
            PCS 3643 Laboratório de Engenharia de Software
            <span style="float:right;">
                Feito por: Gabriel Carvalho, Lucas Lopes e Silas Lima
            </span>
        </p>
    </footer>

</html>