{% extends 'base.html' %}

{% block title %}
    Gerar Relatório de Desempenho
{% endblock %}

{% block content %}
    {% if user.first_name == "['leiloeiro']" %}
        <h1> Gerar Relatório de Desempenho </h1>
        <br/><br/>
        <p>O relatório de desempenho lista lotes ofertados e vendidos pelo leilão no período selecionado.</p>
        <br/><br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success">Gerar Relatório</button>
            </form>
        </div>
        <p>Exemplo de datetime para preencher formulário: 2014-11-18 00:00:00</p>
    {% else %}
        <h1> Esta página é apenas para Leiloeiros! </h1> <br/>
    {% endif %}
{% endblock %}