{% extends 'base.html' %}

{% block title %}
    PCS3643 - Leilão de Livros
{% endblock %}

{% block content %}
<h1> Confira nossos Lotes! </h1>

<ul>
{% for lote in object_list %}
    <li> <a href="{% url 'lote_detail' lote.pk %}">{{ lote.nome }}</a> - {{ lote.cliente_vendedor.username }}<br/>
    {% if lote.liberado_para_lances == True %}
        <p> Duração do Leilão {{ lote.data_inicio }} - {{ lote.data_final }}</p>
    {% endif %}
    {{ lote.descricao }}<br/>

    {% if lote.liberado_para_lances == False %}
        <strong>Esse lote ainda não foi liberado para lances!!</strong>
    {% else %}
        {% if user.is_authenticated %}
            {% if user.first_name == "['cliente']" %}
                {% if lote.leilao_finalizado == False %}
                    <a href="{% url 'lote_lance' lote.pk %}">Realizar lance</a> <br/> <br/>
                {% endif %}
            {% endif %}
        {% else %}
            <strong>Cadastre-se para participar dos nossos leilões!</strong>
        {% endif %}
    {% endif %}
    </li> <br/><br/>
{% endfor %}
</ul>
{% endblock %}