{% extends 'base.html' %}

{% block title %}
    {{ lote.nome }}
{% endblock %}

{% block content %}
    <h1> {{ lote.nome }} </h1>
    <h2> {{ lote.cliente_vendedor.username }} </h2>
    {% if lote.valor_lance_mais_alto > 0 %}
        <h2> Atual lance vencedor :</h2>
        <p> {{ lote.cliente_comprador_lance_mais_alto.username }} deu um lance de {{ lote.valor_lance_mais_alto }} </p>
        <p> Valor mínimo de incremento = {{lote.valor_minimo_incremento_por_lance}}</p>
    {% else %}
        <h2>Ainda não tivemos lances nesse lote.</h2>
        <p>Valor minimo do lance = {{lote.valor_minimo_lance}}</p>
    {% endif %}
    <h3> Duração do Leilão {{ lote.data_inicio }} - {{ lote.data_final }}</h3>
    <p> {{ lote.descricao }} </p>
    {% if user.is_authenticated %}
            <a href="{% url 'lote_lance' lote.pk %}">Realizar lance</a> <br/> <br/>
    {% endif %}
    {% if user == lote.cliente_vendedor %}
            <a href="{% url 'lote_cancel' lote.pk %}">Cancelar leilão</a> <br/> <br/>
    {% endif %}
    <a href="{% url 'home' %}" class="btn btn-secondary"> BACK </a>
{% endblock %}