{% extends 'base.html' %}

{% block title %}
    Editar lote
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user == lote.cliente_vendedor %}
            {% if lote.liberado_para_lances == True %}
                <h2>Esse lote já foi liberado, não é possível editar</h2>
            {% else %}
                <h2>Editar Lote: {{ lote.nome }}</h2>
                <br/><br/>
                <p><b>AVISO:</b> Não é possível alterar o valor de reserva e a data final do leilão!</p>
                <br/><br/>
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">Editar dados do lote</button>
                    </form>
                </div>
                <br/><br/>
                <a href="{% url 'lote_detail' lote.pk %}" class="btn btn-warning"> BACK </a>
            {% endif %}
        {% else %}
            <h2>Apenas o usuário que cadastrou esse lote pode editá-lo!!</h2>
        {% endif %}
    {% else %}
       <h2>Essa área é restrita. Por favor, cadastre-se ou faça login!</h2>
    {% endif %}
{% endblock %}