{% extends 'base.html' %}

{% block title %}
    Ofertar Lote
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.first_name == "['cliente']" %}
            <h2>Ofertar lote de produtos</h2>
            <br/><br/>
            <h3><b>AVISO:</b> Caso seu lote seja aprovado, uma taxa de comissão será cobrada conforme tipo do lote.</h3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Tipo do Lote</th>
                        <th scope="col">Valor do Lote</th>
                        <th scope="col">Taxa de comissão</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><= 1000 reais</td>
                        <td>1%</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><= 10000 reais</td>
                        <td>2%</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><= 50000 reais</td>
                        <td>3%</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td><= 100000 reais</td>
                        <td>4%</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>> 100000 reais</td>
                        <td>5%</td>
                    </tr>
                </tbody>
            </table>
            <p><i>A taxa de comissão será aplicada sobre o valor de reserva.</i></p>
            <br/><br/>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Ofertar Lote</button>
                </form>
            </div>
            <script>
                var cliente_id = "{{ user.id }}";
                document.getElementById("cliente_vendedor_field").value = cliente_id;
            </script>
        {% else %}
            <h2>Apenas usuários clientes podem ofertar lotes de produtos!</h2>
        {% endif %}
    {% else %}
        <h2>Para ofertar um lote, você precisa fazer Login!</h2>
    {% endif %}
{% endblock %}