{% extends 'base.html' %}

{% block title %}
    Cancelar leilão de lote
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.first_name == "['leiloeiro']" %}
            <h2>Cancelar leilão de lote</h2>
            <br/><br/>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <strong>Tem certeza que quer cancelar esse lote ?</strong><br/>
                    <button class="btn btn-secondary">Confirmar e cancelar</button>
                </form>
            </div>
        {% else %}
            <h2>Apenas usuário Leiloeiro pode cancelar leilão!</h2>
        {% endif %}
    {% else %}
       <h2>Essa área é restrita, por favor cadastre-se ou faça login.</h2>
    {% endif %}
{% endblock %}