{% extends 'base.html' %}

{% block title %}
    Ofertar Lote
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.first_name == "['cliente']" %}
            <h2>Ofertar lote de produtos</h2>
            <br/><br/>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Ofertar Lote</button>
                </form>
            </div>
            <p>Exemplo de datetime para formulário: 2014-11-18 00:00:00</p>
            <script>
                var cliente_id = "{{ user.id }}";
                document.getElementById("cliente_vendedor_field").value = cliente_id;
            </script>
        {% else %}
            <h2>Apenas usuários clientes podem ofertar lotes de produtos!</h2>
        {% endif %}
    {% else %}
        <h2>Para ofertar um lote, você precisa fazer Login!</h2>
    {% endif %}
{% endblock %}