{% extends 'base.html' %}

{% block title %}
    Editar lote
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.first_name == "['leiloeiro']" %}
            <h2>Editar Lote: {{ lote.nome }}</h2>
            <br/><br/>
            <br/><br/>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Editar dados do lote</button>
                </form>
            </div>
            <br/><br/>
            <a href="{% url 'lote_detail' lote.pk %}" class="btn btn-warning"> BACK </a>
        {% else %}
            <h2>Essa página é restrita para leiloeiros!</h2>
        {% endif %}
    {% else %}
       <h2>Essa área é restrita. Por favor, cadastre-se ou faça login!</h2>
    {% endif %}
{% endblock %}