{% extends 'base.html' %}

{% block title %}
    Cancelar leilão de lote
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user == lote.cliente_vendedor %}
            <h2>Cancelar leilão de lote</h2>
            <br/><br/>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <strong>Taxa de cancelamento: {{ lote.taxa_cancelamento }}</strong><br/>
                    <button class="btn btn-secondary">Pagar e cancelar</button>
                </form>
            </div>
        {% else %}
            <h2>Apenas o vendedor que ofertou o lote pode cancelar.</h2>
        {% endif %}
    {% else %}
       <h2>Apenas o vendedor que ofertou o lote pode cancelar.</h2>
    {% endif %}
{% endblock %}