{% extends 'base.html' %}

{% block title %}
    Relatório de desempenho
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.first_name == "['leiloeiro']" %}
        {% if not data_inicio_relatorio %}
            <h2>Acesse sua área exclusiva para gerar relatórios</h2>
        {% else %}
            <h2>Relatorio de Desempenho</h2>
            <h3>Periodo: {{data_inicio_relatorio}} até {{data_final_relatorio}}</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Total de Leiloes Finalizados</th>
                        <th scope="col">{{total_de_leiloes_finalizados}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Número de Lotes Vendidos</th>
                        <td>{{ numero_lotes_vendidos }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Número de Lotes não Vendidos</th>
                        <td>{{ numero_lotes_nao_vendidos }}</td>
                    </tr>
                </tbody>
            </table>

            <h2>Lista de Lotes Vendidos no Período</h2>
            <ol>
                {% for lote in lotes_vendidos %}
                    <li>
                        <strong>Lote: {{lote.nome}}</strong><br>
                        <p>Autor: {{lote.autor}}<br>
                        Editora: {{lote.editora}}<br>
                        Cliente Vendedor: {{lote.cliente_vendedor.username}}<br>
                        Número de Lances: {{lote.numero_de_lances}}<br>
                        Lance Vencedor: {{lote.valor_lance_mais_alto}}</p>
                        <br/><br/>
                    </li>
                {% endfor %}
            </ol>

            <h2>Lista de Lotes não Vendidos</h2>
            <ol>
                {% for lote in lotes_nao_vendidos %}
                    <li>
                        <strong>Lote: {{lote.nome}}</strong><br>
                        <p>Autor: {{lote.autor}}<br>
                        Editora: {{lote.editora}}<br>
                        Cliente Vendedor: {{lote.cliente_vendedor.username}}<br>
                        Número de Lances: {{lote.numero_de_lances}}</p>
                        <br/><br/>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    {% else %}
        <h2>Apenas usuários leiloeiros podem emitir relatórios!</h2>
    {% endif %}
{% else %}
    <h2>Apenas usuários leiloeiros podem emitir relatórios!</h2>
{% endif %}
{% endblock %}