{% extends 'base.html' %}

{% block title %}
    Atualizar saldo
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.first_name == "['cliente']" %}
            <h2>Insira seu valor atual de saldo bancário</h2>
            <br/><br/>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button class="btn btn-secondary">Atualizar Saldo</button>
                </form>
            </div>

            <script>
                var username_cliente = "{{ user.username }}";
                document.getElementById("username_cliente_field").value = username_cliente;
            </script>
        {% else %}
            <h2>Apenas usuários clientes possuem saldos bancários!</h2>
        {% endif %}
    {% else %}
       <h2>Essa área do site é restrita.</h2>
    {% endif %}
{% endblock %}