{% extends 'base.html' %}

{% block title %}
    Cadastro
{% endblock %}

{% block content %}
    <h2>Novo usuário? Cadastre-se aqui!</h2>
    <br/><br/>
    <strong>IMPORTANTE: o campo <i>First name</i> representa seu tipo de usuário. Escolha apenas uma opção!</strong>
    <br/><br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Register</button>
        </form>
    </div>
{% endblock %}