{% extends 'base.html' %}

{% block content %}

    <div class="home-banner">
        <br/>
        <h2> Funções CRUD: </h2>
        <h3><a href="comprador/"> Compradores </a></h3>
        <h3><a href="leiloeiro/"> Leiloeiros </a></h3>
        <h3><a href="vendedor/"> Vendedores </a></h3>
        <br/>
        <h2><a href="lote/"> Veja nossos lotes de Produtos !! </a></h2>
        <br/>
        <h2><a href="{%  url 'formulario_ofertar_novo_lote'  %}"> Deseja ofertar um lote ? </a></h2>
    </div>

{% endblock content %}