{% extends 'base.html' %}

{% block content %}

    <div class="home-banner">
        <h2> Funções CRUD: </h2>
        <h3><a href="comprador/"> Compradores </a></h3>
        <h3><a href="leiloeiro/"> Leiloeiros </a></h3>
        <h3><a href="vendedor/"> Vendedores </a></h3>
    </div>

    <div class="lotes-banner">
        <h2><a href="lote/"> Veja nossos lotes de Produtos! </a></h2>
        <h2><a href="lote/new"> Deseja ofertar um lote ? </a></h2>
    </div>

{% endblock content %}