{% extends 'base.html' %}

{% block title %}
    Liberar lote
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.first_name == "['leiloeiro']" %}
            {% if lote.liberado_para_lances == False %}
                <h2>Liberar lote</h2>
                <br/><br/>
                <p><b>AVISO:</b> O valor de reserva do vendedor é <b>{{lote.valor_reserva}}</b></p>
                <br/><br/>
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">Liberar lote para leilão</button>
                    </form>
                </div>
                <strong>Exemplo de datetime para formulário: 2014-11-18 00:00:00</strong>
            {% else %}
                <h2>Esse lote já foi liberado para lances!</h2>
            {% endif %}
        {% else %}
            <h2>Apenas usuários leiloeiros podem liberar lotes para leilão!</h2>
        {% endif %}
    {% else %}
       <h2>Apenas usuários leiloeiros podem liberar lotes para leilão!</h2>
    {% endif %}
{% endblock %}